a{
	text-decoration: none;
	display: block;
	color: #454687;
	font-size: 17px;
}

a:hover{
	font-weight: bold;
}


body{
	font-family: Arial, Helvetica, sans-serif, "Times New Roman";
	line-height: auto;
	background-image: url("./../images/br_nickel.png");
	background-color: #ebebeb;
	margin: 0px auto;
}


footer{
	clear:both;
	/*width: 900px*/;
	text-align: center;
	height: 80px;
	line-height: 80px;
	vertical-align: 50%;
	font-size: small;
	background-color: #555;
	padding-top: 5px;
	margin: 5px auto auto 0px;
	color: #ebebeb;
	border-top: 5px solid #b89445;
}

h1{
    font-size: 27px;
    font-weight: bold;
    min-width: 252px;
}

h2{
	color: #454687;
	line-height: 24px;
	padding-left: 10px;
}

h4{
	line-height: 20px;
	margin: 5px auto;
}

header{
	float: left;
	width: 25%;
	margin-left: 3%;
	background-image: url("./../images/br_brass.jpg");
	background-size: 100%;
	color: #ebebeb;
	border: 1px solid #b89445;
	text-align: center;
	text-shadow: 2px 2px #999;
	min-width: 254.75px;
}

/* table{
	width: 100%;
} */

td{
	width: 50%;
	position: relative;
	padding: 10px;
}



#about, #contact, #portfolio {
	float: left;
	background-color: none;
	margin: 0px 0px;
	height: 20px;
	align-content: left;
	padding: 0px 10px;
}

	#about{
		border-left: 1px solid #999;
		}

	#contact{
		border-right: 1px solid #999;
		}

	#portfolio{
			border-right: 1px solid #999;
			border-left: 1px solid #999;
		}

/*#about:hover, #contact:hover, #portfolio:hover{*/
	/*background-color: #c7c7c7;*/
	/*font-weight: bold;*/
}

#abtmetxt{
	/*border: 1px solid black;*/
	width: 100%;
}

.banner{
	height: 80px;
	background-color: #ebebeb;
	width: 100%;
	/*text-indent: 10%;*/
	position: relative;
}

#connectbanner{
	line-height: 75%;
	/*text-indent: 10px;*/
	vertical-align: 50%;
	border-bottom: 3px solid #999;
}

#connectbanner, .icons{
	margin: 0px 15px;
}

#connectlinks{
	float: left;
	border: #999 solid 1px;
	margin-left: 2%;
	width: 30%;
	background-color: #ebebeb;
}

.contactee{
	width: 40%;
	/*margin: 1% 25% 1% 1%;*/
}

.contentmain{
	clear:both;
	float:left;
	width: 60%;
	position: relative;
	margin-bottom: 10px;
	border: #999 solid 1px;
	background-color: #ebebeb;
	margin-left: 3%;
}


.contentsub{
	margin: 0px 15px 10px 15px;
}

.contenttitle { 
	width: 100%;
	text-align: left;
	vertical-align: 50%;
	margin-bottom: 12px;
	line-height: 50%;
	border-bottom: 3px solid #999;
	text-indent: 10px;
}


#headshot {
	float: left;
	height: 300px;
	width: 200px;
	margin: 0px 10px 10px 0px;
	/*border: 1px solid black;*/
}

.icon {
	height: 45px;
	width: 45px;
	margin: 10px 10px 0px 10px;
}

.iconlnk{
	float:left;
}

.iconlnks

input.messageinput {
	width: 65%;
	height: 150px;
}

.nameblock{
	height: 80px
	width: 75%;
	margin-left: 3%;
	min-width: 254.75px;
}

/*.navbutt{*/
	/*color:grey;*/
/*}*/

.navbutts{
	float: left;
	position: relative;
	bottom: 10px;
	margin-left: 65%;
	padding-bottom: 10px;
}

.portfoliotable{
	table-layout: auto;
	width: 100%;

}

.projectname{
	position: relative;
	z-index: 1;
}

.projectthumb{
	height:100%;
	width: 100%;
	position: relative;
	bottom: 0px;
	float: left;
}

.submit{
	font-size: 24px;
	background-image: url("./../images/br_brass.jpg");
	background-size: 100%;
	border: 1px solid #b89445;
	text-align: center;
	text-shadow: 2px 2px #999;
}

.wrapper{
	height: 382px;
	margin: 20px 0px;
	/*border: solid black 1px;*/
}

 /*.clearfix:after {
         content: "";
         display: block;
         clear: both;  }
*/

